body{
    background-color: black;
}

.titulo{
    height: 50px;
    width: 205px;
    font-size: 40px;
    margin: 70px 0 0 60px;
    color: white;
}

#saludo{
    margin: 30px 0 0 60px;
    color: rgb(202, 202, 202);
    height: 50px;
    width: 300px;
}

#texto{
    margin: 30px 0 0 60px;
    color: rgb(202, 202, 202);
    height: 50px;
    width: 300px;
}

#enlaceGithub{
    color: rgb(173, 220, 255);
}

#botonGithub{
    margin: 30px 0 0 60px;
    color: blue;
}